aside
{
  background-image: url('../img/elena-02.jpg');
  background-size: cover;
  background-position: center;
  height: 95vh;
  width: 40vw;
  position: fixed;
  left: 0;
  top: 5vh;
  z-index: -1;

  div
  {
    background-color: $medium-color;
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }
}

.column
{
  min-height: 95vh;
  width: 60vw;
  margin-left: 40vw;
  background-color: $light-color;
  color: $dark-color;
  padding-bottom: 2rem;

  .title
  {
    margin-bottom: 2rem;
  }

  p
  {
    padding: 2rem 7vw 2rem 7vw;
    font-size: 1.7rem;
    line-height: 2rem;
  }
}

// small screen including landscape adjustments
@media only screen and (max-width: 800px){
  .column
  {
    margin-left: 0;
    width: 100vw;

    .title
    {
      padding-top: 4vh;
    }
  }

  aside
  {
    height: 50vh;
    width: 100vw;
    position: inherit;
    background-attachment: fixed;
  }
}