#index-header {
  background-image: url('../img/cobblestones.jpg');
  background-size: cover;
  height: 70vh;

  h1 {
    color: $dark-color;
    font-weight: 100;
    font-size: 16vh;
    text-align: center;
    padding: 23vh;
    font-family: $serif;
  }
}


#splash-bar
{
  position: fixed;
  top: 70vh;
  .avatar
  {
    background-image: url('../img/elena_01.jpg');
    background-size: cover;
  }

}

#splash-nav
{
  ul
  {
    background-color: $medium-color;
    height: 30vh;
    width: 100%;

    box-shadow: inset 0 0 30px 5px rgba(188, 156, 113, 0.6);
  }
  li{
    width: 23vw;
    height: 15vh;
    padding-top: 15vh;
  }
  .spacer
  {
    width: 8vw;
  }

  a
  {
    font-size: 2.7rem;
    font-family: $sans;
    font-variant: small-caps;
  }
}

// small screen adjustments
@media only screen and (max-width: 927px) {

  #index-header
  {
    h1
    {
      font-size: 12vh;
      padding: 26vh;
    }
  }

  #splash-nav
  {
    a{
      font-size: 1.6rem;
    }
  }

}

// small screen  and portrait adjustments
@media only screen and (max-width: 800px) and (orientation: portrait) {

  #index-header
  {
    height: 35vh;
    h1
    {
      font-size: 8vh;
      padding: 8vh;
      padding-left: 15vw;
      padding-right: 15vw;
    }
  }

  #splash-bar
  {
    top: 35vh;
    height: 5vh;
    .avatar
    {
      display: none;
    }
  }

  #splash-nav
  {
    ul
    {
      height: 60vh;
      width: 100%;
      padding-top: 5vh;

     box-shadow: inset 0 0 30px 5px rgba(188, 156, 113, 0.6), inset 0 -200px 200px -200px rgba(0, 0, 0, 0.7);
    }
    li{
      width: 100vw;
      height: 7vh;
      padding-top: 2.5vh;
      padding-bottom: 3.5vh;
    }

    .spacer
    {
      display: none;
    }
    a
    {
      font-size: 7vh;
    }
  }

}