h2
{
  padding: 1.5rem;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-variant: small-caps;
  text-align: center;
  color: $dark-color;
  font-family: $serif;
  background-color: $medium-color;
}

main ul
{
  background-color: $dark-color;
  padding: 1.5vw 5vw 3vw 5vw;

  li
  {
    width: 90vw;
    height: 75px;
    margin-top: 10px;
    padding: 10px 0 10px 0;
    background-color: rgba(50, 0, 0, 0.2);
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.35);
    border-radius: 20px;

    a
    {
      color: $light-color;
      transition: all 0.4s ease;
    }

    a:hover
    {
      color: white;
    }

    h3
    {
      float: left;
      padding: 25px 8vw 25px 8vw;
      border-right: 1px solid $light-color;
      font-size: 25px;
      min-width: 30vw;
    }

    .download
    {
      opacity: 0.5;
      transition: all 0.4s ease;
      padding: 25px 8vw 25px 8vw;
      font-size: 25px;
      position: relative;
      top: 20px;
    }

    .download:hover
    {
      opacity: 1;
    }
  }
}

div.thumb
{
  height: 95px;
  width: 95px;
  background-color: $medium-color;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: 10px;
  margin-left: 8vw;
  float: left;
}

li .thumb
{
  background-image: url('../img/thumbnail_01.jpg');
}

li:nth-of-type(3n-1) .thumb
{
  background-image: url('../img/thumbnail_02.jpg');
}

li:nth-of-type(3n) .thumb
{
  background-image: url('../img/thumbnail_03.jpg');
}

// small screen  and portrait adjustments
@media only screen and (max-width: 800px) {

  main ul
  {
    li
    {
      h3
      {
        padding: 29.5px 6vw 29.5px 6vw;
        border-right: none;
        font-size: 18px;
      }

      .download
      {
        padding: 0 0 0 0;
        position: relative;
        top: 30px;
        font-size: 13px;
      }
    }
  }
  div.thumb
  {
    margin-left: 0;
  }
}