// remove browser-specific default styling
@import '../css/reset.css';

$dark-color: #663134;
$medium-color: #CEB6A5;
$off-medium: #99805f;
$light-color: #F2E1D3;
$black: #212121;


$sans: 'Assistant', sans-serif;

$serif: 'Cormorant', serif;


body
{
  background-color: $dark-color;
  color: $black;
  font-weight: 300;
  font-family: $sans;
}

a
{
  color: $dark-color;
  transition: all 0.4s ease;
  text-decoration: none;
}

a:hover
{
  color: $light-color;
}

.bar
{
  width: 100%;
  height: 5vw;

  // default bar color
  background-color: $dark-color;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
}

.avatar
{
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 42.5vw;
  top: -5vw;
  z-index: 100;
}

nav
{
  li
  {
    float: left;
    text-align: center;
    font-family: $serif;
  }
}

#top-nav
{
  background-color: $dark-color;
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);

  a{
    color: $medium-color;
    font-size: 1.6rem;
    transition: all 0.5s ease;
  }
  a:hover
  {
    color: $light-color;
  }
  li
  {
    width: 20vw;
    padding-top: 0.6rem;
  }
}

#home-tab
{
  background-color: $medium-color;
  box-shadow: 0 0 15px rgba(120, 90, 90, 0.4), inset -10px -7px 15px 0 rgba(242, 225, 211, 0.4);
  width: 7vw;
  height: 3.3rem;
  padding-top: 0.7rem;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 6.5vw;

  a
  {
    color: $light-color;
    font-size: 2rem;
  }
  a:hover
  {
    color: $dark-color;
  }
}

#menu-open
{
  display: none;
}

#menu-close
{
  display: none;
  padding-top: 3vh;
}

main
{
  min-height: 85vh;
  padding-top: 3rem;
}

p
{
  font-size: 1.5rem;
}

footer
{
  background-color: $medium-color;
  padding: 1rem;
  text-align: center;
}

// small screen  and portrait adjustments
@media only screen and (max-width: 800px) and (orientation: portrait) {
  #top-nav
  {
    background-color: $dark-color;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 100;
    box-shadow: none;
    li
    {
      width: 100vw;
      padding-top: 0.6rem;
      height: 18vh;
    }
  }

  #home-tab
  {
    width: 15vw;
    height: 6vh;
    left: 80vw;
    padding-top: 1vh;
    a {
      font-size: 1.5rem;
    }
  }

  #menu-open
  {
    display: block;
  }

  #home-button
  {
    display: none;
  }

  main
  {
    min-height: 84vh;
  }

}

// index.html-specific styling
@import '../sass/index.scss';

// styling for fiction.html and non-fiction.html
@import '../sass/menus.scss';

// styles for story text pages
@import '../sass/stories.scss';

// styles for about.html
@import '../sass/about.scss';